<h1>Listing venues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.address %></td>
    <td><%= venue.city %></td>
    <td><%= venue.state %></td>
    <td><%= venue.zip %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <tr><td colspan="8" style="padding-left:2em; padding-bottom:.6em;">
  	<% venue.meetings.each do |c|%>
  	  <li><%= link_to c.name, c %></li>
  	<%end%>
  </td></tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
